 * html body{
	overflow:hidden;
	font-family: 'Montserrat', sans-serif !important;
 } 

 body {
	margin: 0;
	padding: 0;
	background: #2ecc71; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle, #2ecc71, #27ae60); /* Safari */
	background: -o-radial-gradient(circle, #2ecc71, #27ae60); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #2ecc71, #27ae60); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #48F28F, #27ae60); /* Standard syntax */
 }
 
 #main-container {
	float:left;
	margin-top: 55px;
	width: 100%;
	height: 480px;
	
	padding: 0;
	margin: 0;
}

.note {
	width: 430px;
	margin: auto;
	margin-top: 20px;
	padding: 6px;
	
	text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-weight: 500;
	color: #2c3e50;

	background-color: #ecf0f1;
	border: 2px solid #bdc3c7;
}

.form-container {
	margin: auto;
	width: 350px;
	height: 320px;
	margin-top: 50px;
	padding: 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 5px solid #27ae60;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 2px -2px #000000;
    -moz-box-shadow: 0px 2px 2px -2px #000000;
	box-shadow: 0px 2px 2px -2px #000000;
}

.inner-addon {
  position: relative;
}

.inner-addon span {
	margin-right: 10px;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 14px;
  padding-top: 8px;
  pointer-events: none;
  font-size: 16px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  35px !important; }
.right-addon input { padding-right: 30px; }


input[type=text], input[type=password], select {
    width: 100%;
    padding: 5px;
	height: 35px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif !important;
}
	.input-margin {
		margin-bottom: 10px;
	}

input[type=submit] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	border: 0px solid #27ae60;
	background-color: transparent;
}

	.login-btn-style {
		color: #fff;
		background-color: #2ecc71 !important;
		font-weight: 700;
	}

.form-header-box{
	padding: 5px;
	padding-top: 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}	

h6 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 18px;
	font-weight: 700;
}

.forgot-password-btn {
	font-size: 10px !important;
	text-decoration: underline;
	border: none;
	display: inline-block;
	background-color: transparent;
	margin: 2px;
	margin-left: 0px;
	color: #bdc3c7;
	font-weight: 700;
}
	.forgot-password-btn:hover {
		cursor: pointer;
	}

.register-btn {
	font-size: 10px !important;
	text-decoration: underline;
	border: none;
	display: inline-block;
	background-color: transparent;
	margin: 2px;
	margin-left: 0px;
	color: #2980b9;
	font-weight: 700;
}
	.register-btn:hover {
		cursor: pointer;
	}

.form-subbox {
	margin-top: 10px;
}
	.sub-left {
		float:left;
		display: inline-block;
	}
	.sub-right {
		float: right;
		display: inline-block;
	}
		.sub-right th {
			text-align: right;
		}
	
 .logo {
	 text-align: center;
	 margin-bottom: 20px;
	 color: #27ae60 !important;
 }