/*
.container {
	padding:5%;
	margin:auto;
}
*/

.contain-bin {
	padding:5%;
	margin:auto;
}

.nh-btn {
	margin: 4px !important;
	vertical-align: top !important;
}

.key-button {
	margin: 3px;
	padding: 3px;
	border: 2px solid #bdc3c7;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
}
	.key-button:hover {
		background-color: #1px solid #bdc3c7;
		cursor: pointer;
	}

	.pressed {
		cursor: defualt !important;
		background-color: #bdc3c7 !important;
		color: #fff !important;
	}
	
.kb-green {
	border: 2px solid #5CB85C !important;
	background-color: #DFF0D8 !important;
	margin-left: 5px;
}
	.kb-green:hover {
		background-color: #5CB85C !important;
	}

.key-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #2c3e50;
}	

#keys {
	margin-left:2px;
	display: inline-block;
}

#mainTV {
	border: 1px solid #bdc3c7;
	border-left: 4px solid #bdc3c7;
	padding: 15px;
	margin: 5px;
	max-width: 75%;
}

#helperTV {
	border: 1px solid #f39c12;
	border-left: 4px solid #f39c12;
	padding: 15px;
	margin:5px;
	display:none;
	max-width:75%;
}
.northMargins {
	margin-top:15px;
}

.modalMargins {
	margin-top: 2px;
	margin-bottom: 15px;
}

.mf {
	text-decoration: none;
	font-weight: normal;
}

.helperText {
	margin-top: 8px;
	padding-left:5px;
	border-left: 1px solid #f39c12;
}

.choice_buffer {
	padding: 3px;
}

.problemTextbox {
	margin-top: 5px;
	margin-bottom: 5px;
}

.glow-no-mo:focus {
  outline: none;
  border-color: #CCCCCC !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.imageBox {
	padding: 10px;
}