.container {
	padding:5%;
	margin:auto;
}

#mainTV {
	border: 1px solid #bdc3c7;
	border-left: 4px solid #bdc3c7;
	padding: 15px;
	margin: 5px;
}

#helperTV {
	border: 1px solid #f39c12;
	border-left: 4px solid #f39c12;
	padding: 15px;
	margin:5px;
	display:none;
}

.helperText {
	margin-top: 8px;
	padding-left:5px;
	border-left: 1px solid #f39c12;
}

.choice_buffer {
	padding: 3px;
}

.problemTextbox {
	margin-top: 5px;
	margin-bottom: 5px;
}