.container-bin {
	padding: 5%;
	margin: auto;
	min-height: 400px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding:0;
	margin:0;
	color: #2c3e50;
}

h5 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 18px;
	dispaly: inline-block;
}

.new {
	font-size: 14px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	vertical-align: center;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 2px;
	color: #fff;
	font-weight: bold;
	background-color: #c0392b;
}

.module-link {
	margin-left: 8px;
	padding-top: 5px;
	padding-left:5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #2980b9;
	display:block;
}
	.module-link:hover {
		cursor: pointer;
		background-color:#AED7F2;
	}

.module-main {
	padding: 5px;
	margin-top:5px;
	padding-top:0px;
	border-top: 1px solid #2980b9;
	max-width: 81%;
	display:block;
	overflow: hidden;
}

.module-desc {
	vertical-align: top;
	padding-top:3px;
	display:inline-block;
	margin-left: 7px;
}

.module-header {
	padding: 5px;
}

.mod-img-box {
	padding: 5px;
	text-align: left;
}

.mod-header-box {
	padding: 5px;
	text-align: left;	
}

.mod-desc {
	text-align: left;
	vertical-align: center;
}