.save-edits-btn {
	font-size: 12px !important;
	text-decoration: underline;
	border: none;
	display: inline-block;
	background-color: transparent;
	margin: 2px;
	margin-left: 0px;
	color: #3498db;
}
	.save-edits-btn:hover {
		cursor: pointer;
	}

input[type=submit]:hover {
    background-color: #45a049;
	border-radius: 4px;
}



